<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<title>Diet App</title>
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div>
	<h1 class="text-primary">Diet App</h1>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">身体データ画面</h1>
		</div>
		<!-- 一覧表示 -->
		<div>
			<table class="table table-striped table-bordered table-hover table-primary datatable">
				<thead class="thead-light">
					<tr>
						<th class="th-width">ユーザーID</th>
						<th class="th-width">ユーザー名</th>
						<th class="th-width">体重</th>
						<th class="th-width">体脂肪率</th>
						<th class="th-width">作成日時</th>
					</tr>
				</thead>
				<tbody>
					<tr class="align-middle" th:each="item : ${bodyDataList}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.name}"></td>	
						<td th:text="${item.weight}"></td>
						<td th:text="${item.fatPer}"></td>
						<td th:text="${item.createdAt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<form action="#" th:action="@{/userinfo}" method="post">
		<button class="btn btn-lg btn-primary btn-block">ユーザー情報</button>
	</form>
	<form action="#" th:action="@{/inputdata}" method="get" class="my-1">
		<button class="btn btn-lg btn-primary btn-block">入力</button>
	</form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" name="logout" value="ログアウト"/>
</form>

<table id="wrap" class="datatable table-bordered">
        <!-- この中にJSONデータが表示されます -->
    </table>
 
    <!-- JSON受け取りと表示  -->
    <script >
		var url = ""
        var data = [];
        $.ajax({
            type : 'GET',
            url : url,
            dataType : 'json'
        }).then(
                function(json) {
                    for (var i = 0; i < json.length; i++) {
                        data.push({
                            'name' : json[i].name,
                            'weight' : json [i].weight,
                            'fat_per' : json [i].fat_per
                        });
                    };
                    console.log(data);
                    var j = '<tr><th>名前</th><th>体重</th><th>体脂肪率</th></tr>';
                    $("table#wrap").append(j);
                    for (var i = 0; i < data.length; i++) {
                        var h = '<tr><td>' + data[i].name + '</td>'
                                + '<td>' + data[i].weight + '</td>' + '<td>'
                                + data[i].fat_per + '</td></tr>';
                        $("table#wrap").append(h);
                    }
                });
    </script>
</body>
</html>