<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="wiewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap,min.js}" defer></script>
<title>データ入力</title>
</head>
<body class="text-center">
	<p>データ入力画面</p>
	<div>
		<form th:method="post" th:action="@{inputdata}" th:object="${bodyDataForm}" class="mx-auto w-25">
			<div class="form-group text-start mt-3">
				<label for="name">ユーザー名</label>
				<input type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid">
				<div class="invalid-feedback" th:errors="*{name}"></div> 
			</div>
			<div class="form-group text-start mt-3">
				<label for="weight">体重</label>
				<input type="text" class="form-control" th:field="*{weight}" th:errorclass="is-invalid"  >
				 <div class="invalid-feedback" th:errors="*{weight}"></div>
			</div>
			<div class="form-group text-start mt-3">
				<label for="fatPer">体脂肪率</label>
				<input type="text" class="form-control" th:field="*{fatPer}" th:errorclass="is-invalid">
				<div class="invalid-feedback" th:errors="*{fatPer}"></div> 
			</div>
			<input type="submit" value="入力" class="btn btn-primary w-10 mt-3">
		</form>
	</div>
</body>
</html>